@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f9fafb;
}
